.current-weather {
    margin-top: 50px;
    cursor: pointer;
}

.temp-title {
    font-size: 140px;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.icon {
    height: 150px;
    position: relative;
    bottom: 50px;
    right: 10px;
}

.todays-info {
    margin: 15px 0;
}

.side-info {
    position: relative;
    left: 46px;

    .humidity-img {
        width: 30px;
    }
    .wind-img {
        width: 30px;
    }
}

@media only screen and (max-width: 667px) {
    .row {
        display: flex;
        flex-direction: column;
        text-align: center;

        .icon {
            height: 350px;
        }
        .todays-info {
            margin: 0;
        }
        .side-info {
            left: 135px;
            margin: 0 auto;
            margin-top: 8px;
        }
    }
}

@media (min-width: 375px) and (max-width: 667px) {
    .city {
        text-align: center;
    }
}