.current-weather {
    margin-top: 50px;
    cursor: pointer;
}

.temp-title {
    font-size: 140px;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.icon {
    height: 150px;
    position: relative;
    bottom: 50px;
    right: 10px;
}

.todays-info {
    margin: 15px 0;
}

.side-info {
    position: relative;
    left: 46px;
}